
.product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
    min-height: 430px;
}

.product-image {
    width: 40%;
    max-height:150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.abajo{
    position: fixed;
    bottom: 30px;
    width:100%;
}

.center{
    text-align: center;
}

.text-layout{
    color: var( --text-color );
}